---
layout: default
image: /images/fulls/01.jpg
---

<section>
    <p>{{ site.introduction | markdownify }}</p>
    <ul>
        <li href="{{ site.github.url }}/contributions/">Community Contributions</li>
        <li href="{{ site.github.url }}/resume/">Resume</li>
        <li href="{{ site.github.url }}/talks/">Talks</li>
    </ul>
</section>

<section>
    <h2>PowerShell Modules</h2>
    <p>
        <ul>
            <li><a href="https://www.powershellgallery.com/packages/PSKoans/">PSKoans</a></li>
            <li><a href="https://www.powershellgallery.com/packages/PSWordCloud/">PSWordCloud</a></li>
        </ul>
    </p>
</section>
<!-- This loops through the paginated posts (removed)
        {% for post in paginator.posts %} <section>
        <h2><a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a></h2>
        <p>
            <span><i class="fa fa-calendar"></i> {{ post.date | date: "%d %B %Y" }}{% if post.categories %} on <i
                    class="fa fa-tags"></i> {{ post.categories | join: ', ' }}{% endif %}</span>
        </p>
        <div>
            {{ post.excerpt }}
        </div>
</section>
{% endfor %}

{% if paginator.total_pages > 1 %}
<!-- Pagination links  (removed)
<section>
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}">Previous</a>
    {% endif %}
    <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}">Next</a>
    {% endif %}
</section>
{% endif %}
-->
