<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        {% if site.footer-links.facebook %}
        <li><a href="https://www.facebook.com/{{ site.footer-links.facebook }}" class="icon fa-facebook"><span
                    class="label">Facebook</span></a></li>
        {% endif %}
        {% if site.footer-links.twitter %}
        <li><a href="https://twitter.com/{{ site.footer-links.twitter }}" class="icon fa-twitter"><span
                    class="label">Twitter</span></a></li>
        {% endif %}
        {% if site.footer-links.linkedin %}
        <li><a href="https://linkedin.com/in/{{ site.footer-links.linkedin }}" class="icon fa-linkedin"><span
                    class="label">Linkedin</span></a></li>
        {% endif %}
        {% if site.footer-links.instagram %}
        <li><a href="https://www.instagram.com/{{ site.footer-links.instagram }}" class="icon fa-instagram"><span
                    class="label">Instagram</span></a></li>
        {% endif %}
        {% if site.footer-links.pinterest %}
        <li><a href="https://pinterest.com/{{ site.footer-links.pinterest }}" class="icon fa-pinterest"><span
                    class="label">Pinterest</span></a></li>
        {% endif %}
        {% if site.footer-links.flickr %}
        <li><a href="https://www.flickr.com/photos/{{ site.footer-links.flickr }}" class="icon fa-flickr"><span
                    class="label">Flickr</span></a></li>
        {% endif %}
        {% if site.footer-links.github %}
        <li><a href="https://github.com/{{ site.footer-links.github }}" class="icon fa-github"><span
                    class="label">Github</span></a></li>
        {% endif %}
        {% if site.footer-links.email %}
        <li><a href="mailto:{{ site.footer-links.email }}" class="icon fa-envelope-o"><span
                    class="label">Email</span></a></li>
        {% endif %}
        {% if site.footer-links.rss %}
        <li><a href="{{ site.github.url }}/rss.xml" class="icon fa-rss"><span class="label">Feed</span></a></li>
        {% endif %}
    </ul>
    <ul class="copyright">
        <li>&copy; {{ site.copyright }}</li>
        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
</footer>
